<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>---->> %d{HH:mm:ss}  %-5level %magenta(%logger{36}) %green(%method) - %msg%n</pattern>
        </encoder>
<!--        [%thread]-->
    </appender>

    <root level="debug">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>